#profile_avatar{
    height: 35px;
    width: 35px;
}
#profile_avatar_search{
    height: 50px;
    width: 50px;
}
.search_results{
    margin-top: 20px;
}
.search_results .media{
    margin-top: 25px;
}
body{
    max-width: 80%;
    margin: 50px auto !important;
}
.navbar-brand{
    color: white !important;
}
