#profile_avatar{
    height: 35px;
    width: 35px;
}
#profile_avatar_search{
    height: 75px;
    width: 75px;
}
.search_results{
    margin-top: 20px;
}
.search_results .media{
    margin-top: 25px;
}
body{
   max-width: 85%; 
   margin: 50px auto !important;
}
.navbar-brand{
    color: white !important;
}
.profileHeader{
    border-top: 2px solid #bd6060;
    border-radius: 10px 10px 0px 0px;
    background-color: #bd6060;
    margin-top: 25px;
    padding: 15px;
}
.profileHeaderQuickLinks{
    display: inline;
    padding-left: 0;
}
.profileHeaderQuickLinks li{
    text-decoration: none;
    color: white;
}
.profileHeaderQuickLinks li a{
    text-decoration: none;
    color: black;  
}
.profileHeaderQuickLinks li a:hover{
    color: white;
}
.profileHeaderQuickLinks .profileHeaderQuickLinksDropDown .profileHeaderQuickLinksDropDownItem:hover {
    background-color: lightgray;
    color: black;
}
.profileMain{
    margin-top: 25px;
    padding: 15px;
}
.profileMain .profileAvatar{
    margin: 10px 0px auto;
    width: 150px;
    height: 180px;
}
.profileMainInfoHeader{
    padding: 2px;
    background-color: #bd6060;
    border-radius: 5px 5px 0px 0px;
}
.profileMainInfoHeader h5{
    text-align: center;
   
}
.profileMainInfo{
    text-align: center;
    padding: 0;
    border-left: 4px solid #bd6060;
    border-right: 4px solid #bd6060;
    border-radius: 10px 10px 0px 0px;
    
}
.profileMainInfo #pictureInfoSplitter{
    color: grey;
    width: 75%;
    text-align: center;
}
.profileMainInfo .profileMainInfoName{
    margin-top: 5px;
    text-align: center;
}
.profileMainInfoRight{
    border-right: 4px solid #bd6060;
    border-radius: 10px 10px 0px 0px;
}
.dropdownNotifications{
    padding: 25px;
    width: 300px;

}
.dropdownNotificationsClose{
    text-align: right;
}
.dropdownNotificationsClose a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.dropdownNotificationsClose a:hover{
    color: grey;
}
.profileFriendLink{
    text-align: center;
    max-width: 0;
}
.profileFriend img{
    margin: 0 auto;
    width: 75px;
    height: 75px;
    display: block;
}
.profileHeaderAddFriend{
    color: lightgreen !important; 
}
.profileHeaderAddFriend:hover{
    color: lightseagreen !important; 
}
.friend_request_avatar{
    height: 35px;
    width: 35px;
}
.friendRequests{
    padding: 10px;
    border: 1px solid #bd6060;
}
.friendRequestsHeader{
    margin: 0;
    padding: 0px 5px;
    background-color: #bd6060;
}
.friendRequestUsername{
    padding: 5px;
    margin-bottom: 5px;
}
.friendRequestAccept{
    background-color: #fff;
    color: green;
}
.friendRequestDeny{
    background-color: #fff;
    color: red;
}